@{
    ViewBag.Title = "About";
}
<section id="login" style="padding-top: 0px">
    <h1 style="text-align:center; font-size:50px;">Les Chevaux</h1>
</section>

<hr style="height: 2px; border: none; margin: 10px; color: gray; background-color: gray;" />
