 @{
    ViewBag.Title = "Contact";
}
<section id="login" style="padding-top: 0px">
    <h1 style="text-align:center; font-size:50px;">Inscription</h1>
</section>

<hr style="height: 2px; border: none; margin: 10px; color: gray; background-color: gray;" />

<section id="login" style="padding-top: 15px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <div class="col-xs-2 col-xs-12" style="margin-left: 10px">
                        <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                            <div class="form-group">
                                <input type="text" name="email" id="email" class="form-control" placeholder="Nom d'usager">
                            </div>
                            <div class="form-group">
                                <input type="text" name="key" id="key" class="form-control" placeholder="Nom complet">
                            </div>
                            <div class="form-group">
                                <input type="password" name="key" id="key" class="form-control" placeholder="Mot de passe">
                            </div>
                            <div class="form-group">
                                <input type="password" name="key" id="key" class="form-control" placeholder="Confirmation du mot de passe">
                            </div>
                            <div class="form-group">
                                <input type="email" name="key" id="key" class="form-control" placeholder="Adresse courriel">
                            </div>
                            <div class="form-group">
                                <input type="email" name="key" id="key" class="form-control" placeholder="Confirmation de l'adresse courriel">
                            </div>
                            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="S'enregistrer">
                            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Annuler">
                        </form>
                    </div>
                </div>
            </div> 
        </div> 
    </div> 
</section>

<hr style="height: 2px; border: none; margin: 10px; color: gray; background-color: gray;" />