@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript></script>

<h2 class="titrepage">Accueil</h2>
<hr />
<div class="row">
   <div class="col-md-12">
      <p> <i>Bienvenue sur Poney Lover où vous pourrez découvrir les chevaux des usagers ou même mettre les votres !</i> </p>
      <p style="text-align:justify">Certaines personnes m'ont dit qu'un cheval ne pouvait pas être plus important qu'un humain aux yeux d'un autre humain. Laissez-moi en douter. Avez-vous un seul ami qui n'ait jamais joué avec vos sentiments, qui vous a toujours écouté sans vous juger, qui a toujours su vous montrer son affection pile au moment où vous en aviez besoin, qui ne s'est jamais plaint de votre retard, de votre humeur, de vos pleurs? Avez-vous un seul ami qui vous a toujours tout pardonné, qui a affronté ses pires craintes juste pour vous faire plaisir? Je crois que vous n'aurez jamais plus fidèle ami qu'un cheval qui vous a donné sa confiance. Il ne vous mentira jamais, ne vous trahira jamais. Si vous êtes honnête et juste avec lui, il vous accueillera avec bonheur à n'importe quelle heure du jour. Un humain pourrait-il offrir tout ça? Un cheval, le cheval de votre vie, ne vous fera mal qu'une fois, le jour où il devra partir.</p>
   </div>
</div>

<hr />

<div class="container">
   <div class="row">
      <div class="container1" id="formContainer">

         <form class="form-signin" id="login" role="form">
            <h3 class="form-signin-heading">Veuillez vous connecter</h3>
            <a href="#" id="flipToRecover" class="flipLink">
               <div id="triangle-topright"></div>
            </a>
            <input type="email" class="form-control" name="loginEmail" id="loginEmail" placeholder="Nom d'usager'" required autofocus>
            <input type="password" class="form-control" name="loginPass" id="loginPass" placeholder="Mot de passe" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit" >Connexion</button>
            <button class="btn btn-lg btn-primary btn-block" type="button">Inscription</button>
         </form>

         <form class="form-signin" id="recover" role="form">
            <h3 class="form-signin-heading">Entrer votre adresse email</h3>
            <a href="#" id="flipToLogin" class="flipLink">
               <div id="triangle-topleft"></div>
            </a>
            <input type="email" class="form-control" name="loginEmail" id="loginEmail" placeholder="Adresse email" required autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Retrouver mon mot de passe</button>
         </form>

      </div> 
   </div>
</div>