@model PoneyLover3._0.Models.ImageModel

@switch (@Model.IDImage)
{
   case 1:
      <div class="jumbotron" style=" height: 300px; overflow: hidden; background-size: cover; background-image: url(/Images/Banner1.png); ">
      </div>
      break;

   case 2:
   <div class="jumbotron" style=" height: 300px; overflow: hidden; background-size: cover; background-image: url(/Images/Banner2.png); ">
   </div>
      break;

   case 3:
   <div class="jumbotron" style=" height: 300px; overflow: hidden; background-size: cover; background-image: url(/Images/Banner3.png); ">
   </div>
      break;

   case 4:
   <div class="jumbotron" style=" height: 300px; overflow: hidden; background-size: cover; background-image: url(/Images/Banner4.png); ">
   </div>
      break;

   case 5:
   <div class="jumbotron" style=" height: 300px; overflow: hidden; background-size: cover; background-image: url(/Images/Banner5.png); ">
   </div>
      break;

   case 6:
   <div class="jumbotron" style=" height: 300px; overflow: hidden; background-size: cover; background-image: url(/Images/Banner6.png); ">
   </div>
      break;

   case 7:
   <div class="jumbotron" style=" height: 300px; overflow: hidden; background-size: cover; background-image: url(/Images/Banner7.png); ">
   </div>
      break;

   case 8:
   <div class="jumbotron" style=" height: 300px; overflow: hidden; background-size: cover; background-image: url(/Images/Banner8.png); ">
   </div>
      break;

   case 9:
   <div class="jumbotron" style=" height: 300px; overflow: hidden; background-size: cover; background-image: url(/Images/Banner9.png); ">
   </div>
      break;

   case 10:
   <div class="jumbotron" style=" height: 300px; overflow: hidden; background-size: cover; background-image: url(/Images/Banner10.png); ">
   </div>
      break;

   default:
   <div class="jumbotron" style=" height: 300px; overflow: hidden; background-size: cover; background-image: url(/Images/Banner10.png); ">
   </div>
      break;

}
